/source/cglm/
/source/cNBT/
/source/lodepng/
/source/parson/
/external/m-lib/

/build/
*.elf
*.dol
movedol.bat
build.sh
build_and_run.sh
paths.conf
boot.dol
boot.elf

Makefile
.project
.cproject

.settings/org.eclipse.cdt.core.prefs
.idea/

assets/default.png
*.png
*.zip
